.txt{
    text-align: center;
    color: black;
    font-size: 500%;
    color: white;
    margin-top: 5%;
}
.ig{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top:6%;
}
.size{
    width:10%;
    height: 450px;
    border: 2px solid white;
 }
 .set{
    display: flex;
    justify-content:space-evenly;
    color: white;
    padding: 5%;

 }
 .para{
    font-weight: bolder;
    font-size: 500%;
    padding-left: 5%;
    
 }
 body{
    background-color: black;
 }
